<clickhouse replace="true">
    <timezone>America/Chicago</timezone>
    <zookeeper>
        <!-- ZooKeeper hosts -->
        <node index="1">
            <host>zookeeper</host>
            <port>2181</port>
        </node>
        <!-- Add more nodes as needed -->
    </zookeeper>

    <!-- Configure replication zookeeper paths -->
    <macros replace="replace">
        <replica>replica</replica>
        <shard>shard</shard>
    </macros>

    <!-- Configure distributed DDL -->
    <distributed_ddl>
        <zookeeper_scheme_path>/clickhouse/task_queue/ddl</zookeeper_scheme_path>
        <wait_ddl_timeout>3</wait_ddl_timeout>
    </distributed_ddl>

</clickhouse>
