<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.clickhouse" level="error">
            <AppenderRef level="error" ref="console"/>
        </Logger>
        <Root level="trace" additivity="false">
            <AppenderRef level="trace" ref="console" />
        </Root>
    </Loggers>
</Configuration>