name: Sink Connector(Light-weight) Tests

on:
  push:
    branches: [ main, develop]
  pull_request:
    branches: [ main , develop]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Install maven
        run: sudo apt-get update && sudo apt-get install -y maven
      - name: Build Library with Maven
        working-directory: sink-connector
        run: mvn install -DskipTests=true
      - name: Build Replicator with Maven
        working-directory: sink-connector-lightweight
        run: mvn test